body {
  margin: 0;
  box-sizing: border-box;
  background-color: #007aff !important;
}

.container {
  min-height: 100vh;
  background-color: #007aff !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  font-weight: bold;
}

.question-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.4);
  padding-top: 12px;
  display: flex;
  justify-content: space-between;
}

.quiz-card {
  width: 25rem;
}
